<app-loading [status]="IsSpinner"></app-loading>
<div class="mt-10">
    <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
        <!--begin::Order details-->
        <div class="card card-flush py-4">
            <div class="card-body pt-0">
                <div class="d-flex flex-column gap-10">
                    <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
                        <app-genric-table 
                            (emitMenuAction)="emitAction($event)" 
                            [menuItems]="genericMenuItems" 
                            (emitRemarks)="showDialog($event)"
                            [data]="AllInternalOrderList" 
                            [columnsData]="columns" 
                            [globalFilterFields]="globalFilterFields"
                            [rowGroup]="rowGroup" 
                            [rowsPerPageOptions]="rowsPerPageOptions" 
                            [row]='10'
                            [loadingData]="false"
                            >
                        </app-genric-table>
                        
                        <!-- <app-ss-generic-table 
                            (emitMenuAction)="emitAction($event)" 
                            [menuItems]="genericMenuItems" 
                            [data]="AllLevelList"
                            [globalFilterFields]="globalFilterFields" 
                            (emitSwitch)="UpdateLevelStatus($event)" 
                            [columnsData]="columns"
                            [totalRecords]="totalRecords" 
                            (getLazyData)="GetAllLevelDataWithLazyLoadinFunction($event)"
                            [rowsPerPageOptions]="rowsPerPageOptions" 
                            [row]='10'
                            [initialColumns]="initialColumns"
                            [isLoading]="false">
                        </app-ss-generic-table> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-generic-modal #modal [modalConfig]="modalConfig">
    {{DialogRemarks}}
</app-generic-modal>
