
<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <!--begin::Col-->
  <div class="row col-xxl-12" style="padding-top: 30px; justify-content: center;">
    <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-md-5 mb-xl-10">
      <app-lists-widget26 class="h-lg-30"></app-lists-widget26>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-md-5 mb-xl-10">
      <!--begin::Slider Widget 1-->
      <app-slider-widget></app-slider-widget>
      <!--end::Slider Widget 1-->
    </div>
    <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-md-5 mb-xl-10">
      <!--begin::Slider Widget 1-->
      <app-slider-widget2></app-slider-widget2>
      <!--end::Slider Widget 1-->
    </div>
    
    <!--end::Col-->
  </div>

  <!--begin::Col-->
  <!-- <app-engage-widget10 class="col-xxl-3" cssClass="h-md-100"></app-engage-widget10> -->
  <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
  <!--begin::Col-->
  <div class="col-xxl-6 mb-5 mb-xl-10">
    <div class="card card-flush overflow-hidden h-lg-100">
      <app-charts-widget4 (eventSelDate)="onSelectDate($event)"></app-charts-widget4>
    </div>
  </div>
  <div class="col-xxl-6 mb-5 mb-xl-10">
    <div class="card card-flush overflow-hidden h-lg-100">
      <app-charts-widget4 (eventSelDate)="onSelectDate($event)"></app-charts-widget4>
    </div>
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->

<!-- begin::Row -->
<!-- <div class="row gy-5 gx-xl-8">
  <div class="col-xxl-4">
    <app-lists-widget3 class="card card-xxl-stretch mb-xl-3"></app-lists-widget3>
  </div>
  <div class="col-xl-8">
    <app-tables-widget10 class="card card-xxl-stretch mb-5 mb-xl-8"></app-tables-widget10>
  </div>
</div> -->
<!-- end::Row -->

<!-- begin::Row -->
<!-- <div class="row gy-5 g-xl-8">
  <div class="col-xl-4">
    <app-lists-widget2 class="card card-xl-stretch mb-xl-8"></app-lists-widget2>
  </div>
  <div class="col-xl-4">
    <app-lists-widget6 class="card card-xl-stretch mb-xl-8"></app-lists-widget6>
  </div>
  <div class="col-xl-4">
    <app-lists-widget4 class="card card-xl-stretch mb-5 mb-xl-8"></app-lists-widget4>
  </div>
</div> -->
<!-- end::Row -->

<!-- <div class="row g-5 gx-xxl-8">
  <div class="col-xxl-4">
    <app-mixed-widget8 class="card card-xxl-stretch mb-xl-3" chartColor="success" chartHeight="150px">
    </app-mixed-widget8>
  </div>
  <div class="col-xxl-8">
    <app-tables-widget5 class="card card-xxl-stretch mb-5 mb-xxl-8"></app-tables-widget5>
  </div>
</div> -->
<!-- <script src="./assets/plugins/global/plugins.bundle.js"></script> -->
<!-- begin:: Modal example -->
<!-- <app-modal #modal [modalConfig]="modalConfig">
  Modal body html
</app-modal>
<button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal example -->
