<app-generic-modal #modalCaptcha [modalConfig]="modalCaptchaConfig">
    <app-captcha-dialog  [firstNumber]='firstNumber'
        [secondNumber]='secondNumber' (ReturnCall)='ValidateCaptcha($event)'></app-captcha-dialog>
</app-generic-modal>
<div>
    <div class="mb-5 text-end">
        <!--begin::Primary button-->
        <a class="btn btn-sm fw-bold btn-primary ms-2" (click)="UpdateSale()">
            <span title="Save">Save</span>
        </a> 
        <!--end::Primary button-->
        <!--begin::Primary button-->
        <a class="btn btn-sm fw-bold btn-secondary ms-2" routerLink="/sale/sale-index">
            <span title="Close">Close</span>
        </a> 
        <!--end::Primary button-->
        <app-sale-preview-report *ngIf="SaleDetails" [SaleDetails]="SaleDetails"></app-sale-preview-report>
    </div>
</div>
<ng-container *ngIf="SaleDetails">
    <!--begin::Invoice 2 main-->
    <div class="card">
        <!--begin::Body-->
        <div class="card-body p-lg-20">
            <!--begin::Layout-->
            <div class="d-flex flex-column flex-xl-row">
                <!--begin::Content-->
                <div class="flex-lg-row-fluid me-xl-18 mb-10 mb-xl-0">
                    <!--begin::Invoice 2 content-->
                    <div class="mt-n1">
                        <!--begin::Top-->
                        <div class="d-flex flex-stack pb-10">
                            <!--begin::Logo-->
                            <a class="w-150px">
                                <app-custom-brand></app-custom-brand>
                            </a>
                            <!--end::Logo-->
                        </div>
                        <!--end::Top-->
                        <!--begin::Wrapper-->
                        <div class="m-0">
                            <!--begin::Label-->
                            <div class="fw-bold fs-3 text-gray-800 mb-8">Invoice #{{SaleDetails.ID}}</div>
                            <!--end::Label-->
                            <!--begin::Row-->
                            <div class="row g-5 mb-11">
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-semibold fs-7 text-gray-600 mb-1">Deliver Date :</div>
                                    <!--end::Label-->
                                    <!--end::Col-->
                                    <div class="fw-bold fs-6 text-gray-800">{{SaleDetails.dtDate|date}}</div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Col-->
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-semibold fs-7 text-gray-600 mb-1">Order Date :</div>
                                    <!--end::Label-->
                                    <!--end::Info-->
                                    <div class="fw-bold fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                        <span class="pe-2">{{SaleDetails.SaleDate|date}}</span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                            <!--begin::Content-->
                            <div class="flex-grow-1">
                                <!--begin::Table-->
                                <div class="table-responsive border-bottom mb-9">
                                    <table class="table mb-3">
                                        <thead>
                                            <tr class="border-bottom fs-6 fw-bold text-muted">
                                                <th class="min-w-175px pb-2">Product</th>
                                                <th class="min-w-70px text-end pb-2">Quantity</th>
                                                <th class="min-w-80px text-end pb-2">Unit Price</th>
                                                <th class="min-w-100px text-end pb-2">Discount(%)</th>
                                                <th class="min-w-80px text-end pb-2">Discount</th>
                                                <th class="min-w-100px text-end pb-2">Net Price</th>
                                            </tr>
                                        </thead>
                                        <tbody class="fw-semibold text-gray-600">
                                            <ng-container *ngFor="let product of SaleDetails.SaleDetails">
                                                <!--begin::Products-->
                                                <tr>
                                                    <!--begin::Category=-->
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Thumbnail-->
                                                            <img
                                                                (click)="openImageGellary(product.Image)" 
                                                                style="cursor:pointer;"
                                                                [src]="product.Image ? product.Image != '' ? imageBasePath + product.Image.split('|')[0]:'../../../../assets/layout/images/no-image.png' : '../../../../assets/layout/images/no-image.png'"
                                                                alt="Image Not Found" width="45" height="45" class="p-shadow-2 rounded" 
                                                            />
                                                            <!--end::Thumbnail-->
                                                            <div class="ms-5">
                                                                <!--begin::Title-->
                                                                <span class="fw-bold">
                                                                    {{((product.ProductVariant == null || product.ProductVariant == "" || product.ProductVariant == "Color N.A, Size N.A")?product.Product : product.Product + "  (" + product.ProductVariant + ")")}}
                                                                </span>
                                                                <span> 
                                                                    <button *ngIf="product.SaleDetailNonTrackableLocations.length>0"  pRipple type="button" 
                                                                        icon="fa fa-map-marker" class="rounded ms-2 bg-light"
                                                                        (click)="OpenProductLocations(product)">
                                                                        <span class="badge badge-light-warning fs-1">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                                                            </svg>
                                                                        </span>
                                                                    </button>
                                                                </span>
                                                                <!--end::Title-->
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="text-end d-inline">
                                                        <div class="d-flex justify-content-end">
                                                            <span class="fw-bold ms-3 text-end">{{product.Quantity}}</span>
                                                        </div>
                                                    </td>
                                                    <td class="text-end pe-0" data-order="30">
                                                        <input class="form-control mw-100px m-auto" type="number"
                                                             (change)="OnChangeText(product)" [(ngModel)]="product.dTotalUnitValue">
                                                    </td>
                                                    <td class="text-end pe-0" data-order="30">
                                                        <input class="form-control mw-100px m-auto" type="number"
                                                             (change)="OnChangeText(product)" [(ngModel)]="product.dDiscountPer">
                                                    </td>
                                                    <td class="text-end d-inline">
                                                        <div class="d-flex justify-content-end">
                                                            {{(product.dTotalDiscount) | number:'1.2-2' }}
                                                        </div>
                                                    </td>
                                                    <td class="text-end pt-5">
                                                        <div class="d-inline w-100 h-100">
                                                            <div class="d-flex justify-content-end">
                                                                <span >€ </span> {{(product.dTotalValue - product.dTotalDiscount) | number:'1.2-2' }} 
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--end::Products-->
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                                <!--end::Table-->
                                <!--begin::Container-->
                                <div class="d-flex justify-content-end">
                                    <!--begin::Section-->
                                    <div class="mw-300px">
                                        <!--begin::Item-->
                                        <div class="d-flex flex-stack mb-3">
                                            <!--begin::Accountname-->
                                            <div class="fw-semibold pe-10 text-gray-600 fs-7">Subtotal:</div>
                                            <!--end::Accountname-->
                                            <!--begin::Label-->
                                            <div class="text-end fw-bold fs-6 text-gray-800">
                                                <span >€ </span>  {{SaleDetails.subTotal | number:'1.2-2' }}
                                            </div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-stack mb-3">
                                            <!--begin::Accountname-->
                                            <div class="fw-semibold pe-10 text-gray-600 fs-7">Total Discount</div>
                                            <!--end::Accountname-->
                                            <!--begin::Label-->
                                            <div class="text-end fw-bold fs-6 text-gray-800">
                                                <span >€ </span>  {{SaleDetails.totalDiscount | number:'1.2-2' }}
                                            </div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-stack mb-3">
                                            <!--begin::Accountnumber-->
                                            <div class="fw-semibold pe-10 text-gray-600 fs-7">Shipping Cost</div>
                                            <!--end::Accountnumber-->
                                            <!--begin::Number-->
                                            <div class="text-end fw-bold fs-6 text-gray-800">
                                                <input class="form-control" style="margin-left: 67px; width: 100px" type="number" 
                                                [(ngModel)]="SaleDetails.ShippingCost" (blur)="CalculateCartTotals()" />
                                            </div>
                                            <!--end::Number-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-stack">
                                            <!--begin::Code-->
                                            <div class="fw-semibold pe-10 text-gray-600 fs-7">Grand Total</div>
                                            <!--end::Code-->
                                            <!--begin::Label-->
                                            <div class="text-end fw-bold fs-6 text-gray-800"><span >€ </span>  {{SaleDetails.grandTotal | number:'1.2-2' }}</div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-stack">
                                            <!--begin::Code-->
                                            <div class="fw-semibold pe-10 text-gray-600 fs-7">Payment</div>
                                            <!--end::Code-->
                                            <!--begin::Label-->
                                            <div class="text-end fw-bold fs-6 text-gray-800"><span >€ </span>  {{SaleDetails.dTotalPaidValue | number:'1.2-2' }}</div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-stack">
                                            <!--begin::Code-->
                                            <div class="fw-semibold pe-10 text-gray-600 fs-7">Rest Amount</div>
                                            <!--end::Code-->
                                            <!--begin::Label-->
                                            <div class="text-end fw-bold fs-6 text-gray-800"><span >€ </span>  {{SaleDetails.restAmount | number:'1.2-2' }}</div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Section-->
                                </div>
                                <!--end::Container-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Invoice 2 content-->
                </div>
                <!--end::Content-->
                <!--begin::Sidebar-->
                <div class="m-0">
                    <!--begin::Invoice 2 sidebar-->
                    <div class="d-print-none border border-dashed border-gray-300 card-rounded h-lg-100 min-w-md-350px w-350px p-9 bg-lighten">
                        <!--begin::Title-->
                        <h6 class="mb-4 fw-bolder text-gray-600 text-hover-primary">Order by</h6>
                        <!--end::Title-->
                        <!--begin::Item-->
                        <div class="mb-3">
                            <div class="fw-bold text-gray-800 fs-6">{{SaleDetails.Customer}}</div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="mb-3">
                            <div class="fw-bold text-gray-800 fs-6">{{customerDetails.Number}}</div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="mb-3">
                            <div class="fw-bold fs-6 text-gray-800 d-flex align-items-center">
                                {{customerDetails.Address}}
                            </div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="mb-3">
                            <h6 class="mb-4 fw-bolder text-gray-600 text-hover-primary">Customer Balance</h6>
                            <div class="fw-bold fs-6 text-gray-800 d-flex align-items-center">
                                <span >€ </span> {{customerDetails.CurrentBalance | number:'1.2-2' }} 
                            </div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Title-->
                        <h6 class="mb-4 fw-bolder text-gray-600 text-hover-primary">Deliver To</h6>
                        <!--end::Title-->
                        <!--begin::Item-->
                        <div class="mb-3">
                            <div class="fw-bold text-gray-800 fs-6">{{SaleDetails.DeliveredTo}}</div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="mb-3">
                            <div class="fw-bold text-gray-800 fs-6">{{DeliverToDetails.Number}} </div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="mb-6">
                            <div class="fw-bold fs-6 text-gray-800 d-flex align-items-center">
                                {{DeliverToDetails.Address}}
                            </div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Title-->
                        <h6 class="mb-4 fw-bolder text-gray-600 text-hover-primary">Payment</h6>
                        <!--end::Title-->
                        <!--begin::Item-->
                        <div class="mb-3">
                            <div class="fw-semibold text-gray-600 fs-7">Delivery Method :</div>
                            <div class="fw-bold fs-6 text-gray-800">{{SaleDetails.ShippingMethod}}</div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="mb-3">
                            <div class="fw-semibold text-gray-600 fs-7">Type :</div>
                            <div class="fw-bold text-gray-800 fs-6">{{SaleDetails.PaymentMode}}</div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="mb-6">
                            <div class="fw-semibold text-gray-600 fs-7">Payment Condition :</div>
                            <div class="fw-bold fs-6 text-gray-800 d-flex align-items-center">{{SaleDetails.PaymentCondition}}
                            <span class="fs-7 text-success d-flex align-items-center">
                            <span class="bullet bullet-dot bg-success mx-2"></span>Days</span></div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="mb-3">
                            <h6 class="mb-4 fw-bolder text-gray-600 text-hover-primary">Remarks</h6>
                            <div class="fw-bold fs-6 text-gray-800 d-flex align-items-center">
                                {{SaleDetails.sRemarks}}
                            </div>
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Invoice 2 sidebar-->
                </div>
                <!--end::Sidebar-->
            </div>
            <!--end::Layout-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Invoice 2 main-->
</ng-container>

<button type="button" hidden class="btn btn-primary" #btn_open_multi_img_modal data-bs-toggle="modal" data-bs-target="#multiImageModal">
    Launch demo modal
</button>
<app-custom-image-gallery [imgSrc]="imgSrc">
</app-custom-image-gallery>

<app-generic-modal #modalLocation [modalConfig]="modalLocationConfig">
    <!--begin::Table-->
    <div class="table-responsive border-bottom mb-9">
        <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
            <thead>
                <tr class="border-bottom fs-6 fw-bold text-muted">
                    <th class="min-w-175px pb-2">Location</th>
                    <th class="min-w-70px pb-2">Selected Quantity</th>
                </tr>
            </thead>
            <tbody class="fw-semibold text-gray-600" *ngIf="AllProductLocationList">
                <ng-container *ngFor="let location of AllProductLocationList">
                    <!--begin::Products-->
                    <tr>
                        <!--begin::Product-->
                        <td>
                            {{location.Location=== null ? 'No location assigned':location.Location }}
                        </td>
                        <!--end::Product-->
                        <!--begin::TrackableCode-->
                        <td class="text-end">
                            <input class="form-control" type="number" [disabled]="true" [(ngModel)]="location.Quantity" style="width: 100px">
                        </td>
                        <!--end::TrackableCode-->
                    </tr>
                    <!--end::Products-->
                </ng-container>
            </tbody>
        </table>
    </div>
    <!--end::Table-->
</app-generic-modal>