<!-- <div class="primeng-datatable-container">
                     
        <p-table #dt [value]="AllDeliveryMethodsList"  [rows]="rows"  [totalRecords]="totalRecords" [(first)]="first"   
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
       [showCurrentPageReport]="true"  dataKey="id" 
        [rowsPerPageOptions]=" [25, 50, 100, 200, 500, 1000, 5000]"  
        [paginator]="true"  [rowHover]="true" styleClass="p-datatable-responsive-demo"
        [filterDelay]="0"  [globalFilterFields]="['Name']">

 <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
        
        <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search Delivery Method..." />
       </span>

    </div>
</ng-template>
    <ng-template  pTemplate="header">
        
        <tr >
                <th pSortableColumn="ID"> ID  <p-sortIcon field="ID"></p-sortIcon></th>
                <th pSortableColumn="Name"> PaymentCondition  <p-sortIcon field="Name"></p-sortIcon></th>
                <th pSortableColumn="Cost"> Cost  <p-sortIcon field="Cost"></p-sortIcon></th>
                <th pSortableColumn="Description"> Description  <p-sortIcon field="Description"></p-sortIcon></th>
            
            </tr>
       
    </ng-template>
    <ng-template pTemplate="body" let-deliveryMethod >
        <tr (click)="SelectRow(deliveryMethod)">
            <td > {{deliveryMethod.ID }} </td>
            <td > {{deliveryMethod.Name}}</td>
            <td > {{this.currencySign + ' ' + deliveryMethod.Cost}}</td>
            <td > {{deliveryMethod.Description}}</td> 
              
        </tr>
    </ng-template>
</p-table>
</div> -->
<div class="card card-flush py-4">
    <div class="card-body pt-0">
        <div class="d-flex flex-column gap-10">
            <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
                <app-genric-table 
                    (emitRowClick)="SelectRow($event)"
                    [data]="AllDeliveryMethodsList" 
                    [columnsData]="columns" 
                    [initialColumns]="initialColumns" 
                    [enablePrint]="true" 
                    [loadingData]="IsSpinner" 
                    [rowsPerPageOptions]="rowsPerPageOptions"
                    [row]='10' >
                </app-genric-table>
            </div>
        </div>
    </div>
</div>