<div class="mt-15">
    <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
        <!--begin::Order details-->
        <div class="card card-flush py-4">
            <div class="card-body pt-0">
                <div class="d-flex flex-column gap-10">
                    <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
                        <app-genric-table  [menuItems]="genericMenuItems" 
                            [data]="AllProductList" 
                            [columnsData]="columns" [globalFilterFields]="globalFilterFields"
                            [rowsPerPageOptions]="rowsPerPageOptions" 
                            [initialColumns]="initialColumns" [totalRecords]="totalRecords" [row]='10' 
                            [loadingData]="isLoadingData"
                            (emitMenuAction)="emitAction($event)">
                        </app-genric-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>