<app-loading [status]="IsSpinner"></app-loading>
<div class="mt-10">
    <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
        <!-- begin::Header -->
        <div class="card-header card-header-stretch overflow-auto">
            <ul class="
                nav nav-stretch nav-line-tabs
                fw-bold
                border-transparent
                flex-nowrap
            " role="tablist">

            <li class="nav-item">
                <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'purchase' }"
                (click)="setActiveTab('purchase')" role="purchase">
                {{ "ORDERS.ALLORDERS" | translate }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'no_purchase' }"
                (click)="setActiveTab('no_purchase')" role="no_purchase">
                {{ "ORDERS.ONLINEORDERS" | translate }}
                </a>
            </li>
            </ul>
        </div>
        <!-- end::Header -->
        
        <div class="tab-content pt-3">
            <!--begin::Order details-->
            <div class="card card-flush py-4">
                <div class="card-body pt-0">
                    <div class="d-flex flex-column gap-10">
                        <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
                            <app-genric-table 
                                (emitMenuAction)="emitAction($event)" 
                                [menuItems]="genericMenuItems" 
                                (emitRemarks)="showDialog($event)"
                                [data]="AllInternalOrderList" 
                                [columnsData]="columns" 
                                [globalFilterFields]="globalFilterFields"
                                [rowGroup]="rowGroup" 
                                [rowsPerPageOptions]="rowsPerPageOptions" 
                                [row]='10'
                                [loadingData]="false">
                            </app-genric-table>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Order details-->
        </div>
    </div>
</div>

<app-generic-modal #modal [modalConfig]="modalConfig">
    {{DialogRemarks}}
</app-generic-modal>
