<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-contextMenu #cm [model]="items"></p-contextMenu>

<div class="p-col-12 p-m-0 p-p-0  p-shadow-2">
    <div class="card">
        <!-- <h4>Row Expand</h4> -->
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Create" *ngxPermissionsOnly="OrderPermission.IncomingOrder" (click)="AddIncomingOrder();"  class="p-button-raised"></button>
             </ng-template>

             <ng-template pTemplate="right">

                <div class="p-field ">
                    <label for="DateFilter"> Search By Date </label>
                    <p-dropdown placeholder="Select Search By Date" [options]="SearchByDateDropdown"
                    (onChange)="onChangeDate($event)" [(ngModel)]="selectedSearchByDateID" autoWidth="false"
                    [style]="{'width':'200px'}" required filter="true">
                    <ng-template let-item pTemplate="selectedItem">
                      <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                    </ng-template>
        
                  </p-dropdown>
                </div>
             </ng-template>

        </p-toolbar>

        <app-genric-table (emitMenuAction)="emitAction($event)" [menuItems]="genericMenuItems" 
        [data]="PerformaSaleModelList" [columnsData]="columns" [globalFilterFields]="globalFilterFields"
        [rowGroup]="rowGroup"  [rowsPerPageOptions]="rowsPerPageOptions" [row]='25'>
        </app-genric-table>

        
    
    </div>
</div>
<p-dialog  header="Select Dates"  [(visible)]="isCustomDate" modal="modal" showEffect="fade"    [style]="{width: '50vw',height:'700px'}">
    <app-datepickerpopup (onSelectValue)='selectValue($event)'></app-datepickerpopup>
</p-dialog>