<div>
    <div class="d-flex flex-column gap-5 gap-md-7" >
      <div class="p-field p-col-12 p-md-6">
        <span class="p-h">Product Name:</span>
        <span class="p-n"> {{ ProductName }}</span>
      </div>

       <!--begin::Input group-->
       <div class="d-flex flex-column mb-8 fv-row">
        <div class="fv-row flex-row-fluid">
            <!--begin::Label-->
            <label class="form-label">{{ "Supplier*" }}</label>
            <!--end::Label-->
            <!--begin::Input-->
            <app-custom-select
                [items]="filteredOrderBy" [virtualScroll]="true" 
                [bindLabel]="'label'"
                [(twBinding)]="selectedOrderBy" [searchFn]="dataFunc"
                [placeholder]="'Select Supplier...'">
            </app-custom-select>
            <!--end::Input-->
        </div>
        <div class="flex-row-fluid mt-5">
            <!--begin::Label-->
            <label class="form-label">
                Quantity
            </label>
            <!--end::Label-->
            <div class="position-relative my-1">
              <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
              <span class="svg-icon svg-icon-2 position-absolute top-50 translate-middle-y ms-4">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                      <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                  </svg>
              </span>
              <!--end::Svg Icon-->
              <input name="quantity" type="text" class="form-control fs-7 ps-12" [(ngModel)]="Quantity" placeholder="Enter Quantity"/>
            </div>
            <!--begin::Input-->
            <!-- <input class="form-control" type="text"
                    name="quantity"
                    id="quantity"
                    [(ngModel)]="Quantity"
                    required
                    pInputText
                    placeholder="Enter Quantity"/> -->
            <!--end::Input-->
        </div>
        </div>
        <!--end::Input group-->
  
      <div class="text-end">
       
        <a (click)="CreateOrder()" class="btn btn-sm fw-bold btn-success ms-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save-fill me-2" viewBox="0 0 16 16">
                <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
            </svg>
            <span>Add</span>
        </a> 
      </div>
    </div>
    <!-- <p-dialog
      header="{{ 'Supplier' }}"
      [(visible)]="displayOrderByDialog"
      modal="modal"
      showEffect="fade"
      [style]="{ width: '60vw' }"
    >
      <div class="primeng-datatable-container">
        <app-genric-table
          [data]="AllSupplierList"
          [columnsData]="columns"
          [globalFilterFields]="globalFilterFields"
          [rowsPerPageOptions]="rowsPerPageOptions"
          [row]="25"
          (emitRowClick)="SelectRowOrderBy($event)"
        >
        </app-genric-table>
      </div>
    </p-dialog> -->
  </div>
  