<!-- <div class="primeng-datatable-container">
                     
        <p-table #dt [value]="AllPaymentConditionsList"  [rows]="rows"  [totalRecords]="totalRecords" [(first)]="first"   
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
       [showCurrentPageReport]="true"  dataKey="id" 
        [rowsPerPageOptions]=" [25, 50, 100, 200, 500, 1000, 5000]"  
        [paginator]="true"  [rowHover]="true" styleClass="p-datatable-responsive-demo"
        [filterDelay]="0"  [globalFilterFields]="['Name']">

 <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
        
        <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search Payment Condition..." />
       </span>

    </div>
</ng-template>
    <ng-template  pTemplate="header">
        
        <tr >
                <th pSortableColumn="ID">ID <p-sortIcon field="ID"></p-sortIcon></th>
                <th pSortableColumn="Name">PaymentCondition <p-sortIcon field="Name"></p-sortIcon></th>
                <th pSortableColumn="Description">Description <p-sortIcon field="Description"></p-sortIcon></th>
            
            </tr>
       
    </ng-template>
    <ng-template pTemplate="body" let-paymentCondition >
        <tr (click)="SelectRow(paymentCondition)">
            <td > {{paymentCondition.ID }} </td>
            <td > {{paymentCondition.Name}}</td>
            <td > {{paymentCondition.Description}}</td> 
              
        </tr>
    </ng-template>
</p-table>
</div> -->

<!--begin::Table Widget 4-->
<div class="card card-flush h-xl-100">
    <!--begin::Card header-->
    <div class="card-header pt-7">
        <!--begin::Title-->
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold text-gray-800"></span>
        </h3>
        <!--end::Title-->
        <!--begin::Actions-->
        <div class="card-toolbar">
            <!--begin::Filters-->
            <div class="d-flex flex-stack flex-wrap gap-4">
                <!--begin::Search-->
                <div class="position-relative my-1">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                    <span class="svg-icon svg-icon-2 position-absolute top-50 translate-middle-y ms-4">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <input type="text" data-kt-table-widget-4="search" class="form-control w-150px fs-7 ps-12" [(ngModel)]="mySearch" type="text" placeholder="Global Search"/>
                </div>
                <!--end::Search-->
            </div>
            <!--begin::Filters-->
        </div>
        <!--end::Actions-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-2">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-3" id="kt_table_widget_4_table">
            <!--begin::Table head-->
            <thead>
                <!--begin::Table row-->
                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                    <th class="min-w-100px">ID</th>
                    <th class="text-end min-w-100px">PaymentCondition</th>
                    <th class="text-end min-w-125px">Description</th>
                </tr>
                <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="fw-bold text-gray-600">
                <tr data-kt-table-widget-4="subtable_template" class="d-none">
                    <td colspan="2">
                        <div class="d-flex align-items-center gap-3">
                            <a href="#" class="symbol symbol-50px bg-secondary bg-opacity-25 rounded">
                                <img src="" data-kt-src-path="assets/media/stock/ecommerce/" alt="" data-kt-table-widget-4="template_image" />
                            </a>
                            <div class="d-flex flex-column text-muted">
                                <a href="#" class="text-gray-800 text-hover-primary fw-bold" data-kt-table-widget-4="template_name">Product name</a>
                                <div class="fs-7" data-kt-table-widget-4="template_description">Product description</div>
                            </div>
                        </div>
                    </td>
                    <td class="text-end">
                        <div class="text-gray-800 fs-7">Cost</div>
                        <div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_cost">1</div>
                    </td>
                    <td class="text-end">
                        <div class="text-gray-800 fs-7">Qty</div>
                        <div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_qty">1</div>
                    </td>
                    <td class="text-end">
                        <div class="text-gray-800 fs-7">Total</div>
                        <div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_total">name</div>
                    </td>
                    <td class="text-end">
                        <div class="text-gray-800 fs-7 me-3">On hand</div>
                        <div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_stock">32</div>
                    </td>
                    <td></td>
                </tr>
                <ng-container *ngFor="let paymentCondition of AllPaymentConditionsList | searchPipe:columns: mySearch">
                    <tr  (click)="SelectRow(paymentCondition)">
                        <td> {{paymentCondition.ID }}  </td>
                        <td class="d-flex justify-content-end"> 
                            {{paymentCondition.Name}}
                        </td>
                        <td class="text-end"> {{paymentCondition.Description}}</td>
                    </tr>
                </ng-container>
            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Table Widget 4-->