<div class="d-print-none border border-dashed border-gray-300 card-rounded h-lg-100 min-w-md-350px p-9 bg-lighten">

    <!--begin::Title-->
    <h6 class="mb-8 fw-bolder text-gray-600 text-hover-primary">
        <span class="p-h">Product Name:</span>
        <span class="p-n"> {{ProductName}}</span>
    </h6>
    <!--end::Title-->
    
    <!--begin::Item-->
    <div class="mb-6">
        <label for="quantity"> Quantity <span class="RequiredEror">*</span> </label>
        <!-- <span class="p-input-icon-left">
            <i class="fas fa-shopping-basket"></i>
            <input type="text" name="quantity" id=quantity [(ngModel)]="Quantity" required pInputText
                placeholder="Enter Quantity" />
        </span> -->
        <div class="position-relative my-1">
            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
            <span class="svg-icon svg-icon-2 position-absolute top-50 translate-middle-y ms-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                </svg>
            </span>
            <!--end::Svg Icon-->
            <input name="quantity" type="text" class="form-control fs-7 ps-12" [(ngModel)]="Quantity" placeholder="Enter Quantity"/>
        </div>
    </div>
    <!--end::Item-->
    
    <!--begin::Item-->
    <div class="mb-6">
        <label for="remarks"> Remarks </label>
        <!-- <span class="p-input-icon-left">
            <i class="fas fa-comments"></i>
            <input type="text" name="remarks" id=remarks rows="3" cols="50" [(ngModel)]="Remarks"
                aria-multiline="true" pInputText placeholder="Enter Remarks" />
        </span> -->
        <div class="position-relative my-1">
            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
            <span class="svg-icon svg-icon-2 position-absolute top-50 translate-middle-y ms-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                </svg>
            </span>
            <!--end::Svg Icon-->
            <input name="remarks" type="text" class="form-control fs-7 ps-12" [(ngModel)]="Remarks" type="text" placeholder="Enter Remarks"/>
        </div>
    </div>
    <!--end::Item-->
    <a  class="btn btn-sm fw-bold btn-primary ms-2"
            (click)="CreateOrder()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg me-2" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
        <span >Add</span>
    </a> 
</div>