<div class="separator mb-3 opacity-75"></div>

<div class="menu-item px-3">
  <a class="menu-link px-3 cursor-pointer" (click)="onClickDrop('0')"> Today </a>
</div>

<div class="menu-item px-3">
  <a class="menu-link px-3 cursor-pointer" (click)="onClickDrop('1')"> Yesterday </a>
</div>
<div class="menu-item px-3">
  <a class="menu-link px-3 cursor-pointer" (click)="onClickDrop('2')"> Last 7 Days </a>
</div>

<div class="menu-item px-3">
  <a class="menu-link px-3 cursor-pointer" (click)="onClickDrop('3')"> Last 30 Days </a>
</div>
<div class="menu-item px-3">
  <a class="menu-link px-3 cursor-pointer" (click)="onClickDrop('4')"> This Month </a>
</div>

<div class="menu-item px-3">
  <a class="menu-link px-3 cursor-pointer" (click)="onClickDrop('5')"> Last Month </a>
</div>

<div class="menu-item px-3">
  <a class="menu-link px-3 cursor-pointer" (click)="onClickDrop('7')"> Custom Range </a>
</div>

