<div>
    <div class="mb-5 text-end">
        <span *ngIf="!btnAddDisabled">
            <!--begin::Primary button-->
            <a *ngxPermissionsOnly="PurchasePermission.AddPurchase"
                class="btn btn-sm fw-bold btn-primary ms-2"
                (click)="savePurchase()">
                <span>Add Purchase</span>
            </a> 
            <!--end::Primary button-->
            
            <!--begin::Primary button-->
            <a *ngxPermissionsOnly="PurchasePermission.AddPurchase" 
                (click)="saveOpenPurchase()" class="btn btn-sm fw-bold btn-success ms-2">
                <span>Add Hold Purchase</span>
            </a> 
            <!--end::Primary button-->
        </span>
        <!--begin::Primary button-->
        <a routerLink="/purchase/purchase-order-report"
            *ngxPermissionsOnly="PurchasePermission.PurchaseListing"
            class="btn btn-sm fw-bold btn-secondary ms-2">
            <span title="Close">Close</span>
        </a> 
        <!--end::Primary button-->
        <app-session-time-counter class="ms-20"> </app-session-time-counter>
    </div>
</div>

<!--begin::Content-->
    <!--begin::Content container-->
    <div class="app-container ">
        <!--begin::Form-->
        <form id="kt_ecommerce_edit_order_form" class="form d-flex flex-column flex-lg-row" data-kt-redirect="../../demo1/dist/apps/ecommerce/sales/listing.html">
            <!--begin::Aside column-->
            <div class="w-100 flex-lg-row-auto w-lg-300px mb-7 me-7 me-lg-10">
                <!--begin::Order details-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Order Details</h2>
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <div class="d-flex flex-column gap-10">
                            
                            <div class="separator"></div>

                            <!--begin::Input group-->
                            <div class="fv-row">
                                <div class="card-title">
                                    <h4 translate="ADDPURCHASE.ORDERBY"></h4>
                                </div>
                                <!--begin::Label-->
                                <label class="required form-label">Supplier</label>
                                <!--end::Label-->
                                <app-custom-select
                                    [items]="filteredOrderBy" [virtualScroll]="true" bindLabel="label"
                                    [(twBinding)]="addPurchase.supplier" [searchFn]="dataFunc"
                                    (onChange)="BindDeliveryAddress($event)"
                                    [placeholder]="'Select Supplier...'">
                                </app-custom-select>
                                <!--begin::Description-->
                                <!-- <div class="text-muted fs-7">Assign a template from your current theme to define how the category products are displayed.</div> -->
                                <div class="mb-2 color-light" [ngClass]="{'d-none': supplierName == ''}">
                                    <label for="name">{{supplierName}}</label> <br>
                                    <label for="phon">{{orderByContact}}</label>
                                    <br>
                                    <label for="address"> {{supplierAddress}}</label>
                                </div>
                                <!--end::Description-->
                                
                                <app-custom-radio
                                    [name]="'groupname'"
                                    [value]="'Cash'"
                                    [(twBinding)]="addPurchase.type"
                                    [inputId]="'type1'"
                                >
                                </app-custom-radio>
                                <label
                                    class="form-check-label ps-2 ms-2 me-4"
                                    for="type1"
                                >Cash</label>
                                <app-custom-radio
                                    [name]="'groupname'"
                                    [value]="'Credit'"
                                    [(twBinding)]="addPurchase.type"
                                    [inputId]="'type2'">
                                </app-custom-radio>
                                <label
                                    class="form-check-label ps-2 ms-2 me-4"
                                    for="type2"
                                >Credit</label>
                            </div>
                            <!--end::Input group-->
                            
                            <div class="separator"></div>

                            <!--begin::Input group-->
                            <div class="fv-row">
                                <div class="card-title">
                                    <h4>Out Let</h4>
                                </div>
                                <!--begin::Label-->
                                <label class="required form-label">Out Let</label>
                                <!--end::Label-->
                                <!--begin::Select2-->
                                <app-custom-dropdown
                                    [options]="OutletData" [placeholder]="addPurchase.outlet ? addPurchase.outlet.label : 'Select a Outlet'" (onChange)="change($event)"
                                    [showClear]="true" [(twBinding)]="outletID" required optionLabel="Name">
                                </app-custom-dropdown>
                                <!--end::Select2-->
                                <label class="form-label">Remarks</label>
                                <!-- <input class="form-control" type="text" id="remarks" value={{addPurchase.remarks}} (onChange)="onChangeRemarks($event)"/> -->
                                <!-- <input class="form-control" pInputText type="text" id="remarks" [value]="addPurchase.remarks ? addPurchase.remarks : ''" [(ngModel)]="addPurchase.remarks"> -->
                                <app-custom-input
                                    [type]="'text'"  [(twBinding)]="addPurchase.remarks"
                                    [classGroup]="'form-control'"
                                >
                                </app-custom-input>
                            </div>
                            <!--end::Input group-->
                            
                            <div class="separator"></div>

                            <!--begin::Input group-->
                            <div class="fv-row">
                                <div class="card-title">
                                    <h4>Date Section</h4>
                                </div>
                                <!--begin::Label-->
                                <label class="required form-label">Receipt Date</label>
                                <!--end::Label-->
                                <!--begin::Editor-->
                                <app-custom-date-picker [(twBinding)]="addPurchase.receiptDate" [showIcon]="true" inputId="icon"></app-custom-date-picker>
                                <!--end::Editor-->

                                <!--begin::Label-->
                                <label class="required form-label">Order Date</label>
                                <!--end::Label-->
                                <!--begin::Editor-->
                                <app-custom-date-picker [(twBinding)]="addPurchase.orderDate" [showIcon]="true" inputId="icon"></app-custom-date-picker>
                                <!--end::Editor-->
                            </div>
                            <!--end::Input group-->
                            
                            <div class="separator"></div>

                            <!--begin::Input group-->
                            <div class="fv-row">
                                <div class="card-title">
                                    <h4>Cart Summary</h4>
                                </div>
                                <!--begin::Label-->
                                <!-- <label class="required form-label">Receipt Date</label> -->
                                <!--end::Label-->
                                <!--begin::Container-->
                                <div class="d-flex justify-content-start">
                                    <!--begin::Section-->
                                    <div class="mw-300px">
                                        <!--begin::Item-->
                                        <div class="d-flex flex-stack mb-3">
                                            <!--begin::Accountname-->
                                            <div class="fw-semibold pe-10 text-gray-600 fs-7">Subtotal:</div>
                                            <!--end::Accountname-->
                                            <!--begin::Label-->
                                            <div class="text-end fw-bold fs-6 text-gray-800">{{subTotal | number:'1.2-2' }}</div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-stack mb-3">
                                            <!--begin::Accountname-->
                                            <div class="fw-semibold pe-10 text-gray-600 fs-7">Total Discount</div>
                                            <!--end::Accountname-->
                                            <!--begin::Label-->
                                            <div class="text-end fw-bold fs-6 text-gray-800">{{totalDiscount | number:'1.2-2' }}</div>
                                            <!--end::Label-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="d-flex flex-stack mb-3">
                                            <!--begin::Accountnumber-->
                                            <div class="fw-semibold pe-10 text-gray-600 fs-7">Grand Total</div>
                                            <!--end::Accountnumber-->
                                            <!--begin::Number-->
                                            <div class="text-end fw-bold fs-6 text-gray-800">{{grandTotal | number:'1.2-2' }}</div>
                                            <!--end::Number-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Section-->
                                </div>
                                <!--end::Container-->
                            </div>
                            <!--end::Input group-->
                            <div class="separator"></div>
                            <!--begin::Item-->
                            <div class=" fv-row" *ngIf="addPurchase.type == 'Cash'">

                                <label class="form-label">Add Payment</label>
                                <app-custom-input
                                    [type]="'number'"  [(twBinding)]="addPurchase.payment"
                                    [classGroup]="'form-control'"
                                >
                                </app-custom-input>

                                <label class="form-label">Password</label>
                                <app-custom-input
                                    [type]="'password'" [(twBinding)]="addPurchase.password"
                                    [classGroup]="'form-control '"
                                >
                                </app-custom-input>
                                <!--begin::Filter-->
                                <div class="d-flex flex-stack justify-content-end mt-6">
                                    <button type="button" class="btn btn-sm btn-flex btn-light-primary"
                                        (click)="savePurchase()" *ngIf="!btnAddDisabled">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                                        <span class="svg-icon svg-icon-3">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->Add payment
                                    </button>
                                </div>
                                <!--end::Filter-->
                            </div>
                            <!--end::Item-->
                        </div>
                    </div>
                    <!--end::Card header-->
                </div>
                <!--end::Order details-->
            </div>
            <!--end::Aside column-->
            <!--begin::Main column-->
            <div class="d-flex flex-column flex-lg-row-fluid gap-7 gap-lg-10">
                <!--begin::Order details-->
                <div class="card card-flush py-4">
                    <!--begin::Card header-->
                    <div class="card-header">
                        <div class="card-title">
                            <h2>Select Products</h2>
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <div class="d-flex flex-column gap-10">
                            <!--begin::Input group-->
                            <div>
                                <!--begin::Label-->
                                <label class="form-label">Add products to this order</label>
                                <!--end::Label-->
                                <!--begin::Selected products-->
                                <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 border border-dashed rounded pt-3 pb-1 px-2 mb-5 mh-500px overflow-scroll" >
                                    
                                    <!-- begin::Body -->
                                    <div class="card-body py-3">
                                        <!-- begin::Table container -->
                                        <div class="table-responsive">
                                        <!-- begin::Table -->
                                        <table class="table align-middle gs-0 gy-4">
                                            <!-- begin::Table head -->
                                            <thead>
                                                <tr class="fw-bolder text-muted bg-light">
                                                    <th class="ps-4 rounded-start" style="width: 70px">Action</th>  <!-- style="width: 80px" -->
                                                    <th class="product-width">Product</th>
                                                    <th>Quantity</th>  <!-- style="width: 90px" -->
                                                    <!-- <th style="width: 90px">UOM</th> -->
                                                    <th >Unit Price</th><!--  style="width: 80px" -->
                                                    <th>Software Sale Price</th>
                                                    <th>Web-shop Sale Price</th>
                                                    <th>Discount(%)</th>
                                                    <th>Discount</th>
                                                    <th class="rounded-end">Net Price</th>
                                                </tr>
                                            </thead>
                                            <!-- end::Table head -->
                                            <!-- begin::Table body -->
                                            <tbody>
                                                <ng-container *ngFor="let product of products; let ri = index">
                                                    <tr>
                                                        <td>
                                                            <button *ngIf="product.IsTrackable" pRipple type="button" (click)="OpenProductTrackables(ri)"
                                                                icon="pi pi-times" class="btn btn-sm btn-flex btn-light-primary d-flex m-auto">
                                                                <span class="svg-icon svg-icon-3 m-0">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                                                        <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                                                                        <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                                                                    </svg>
                                                                </span>
                                                            </button>
                                                            <button pButton pRipple type="button" (click)="deleteItemFromProductArr(product)"
                                                                icon="pi pi-times" class="btn btn-sm btn-flex btn-light-danger d-flex m-auto">
                                                                <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                                                                <span class="svg-icon svg-icon-3 m-0">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                                                    </svg>
                                                                </span>
                                                                <!--end::Svg Icon-->
                                                            </button>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="symbol symbol-50px me-5">
                                                                <!-- <img
                                                                    src="./assets/media/stock/600x400/img-3.jpg"
                                                                    class=""
                                                                    alt=""
                                                                /> -->
                                                                </div>
                                                                <div class="d-flex justify-content-start flex-column">
                                                                <a class="text-dark fw-bolder text-hover-primary mb-1 fs-6 me-5">
                                                                    {{product.selectedProduct.label}}
                                                                </a>
                                                                </div>
                                                                <!-- <span class="badge badge-light-warning fs-1"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="OpenProductLocations(product)">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                                                    </svg>
                                                                </span> -->
                                                            </div>
                                                            <!-- {{OnChangeText(product)}} -->
                                                        </td>
                                                        <td>
                                                            <!-- <input pInputText type="number" *ngIf="!product.IsTrackable" [(ngModel)]="product.Quantity"
                                                                (blur)="OnChangeText(product)" [disabled]="product.IsQtyDisable" /> -->
                                                            <app-custom-input
                                                                [type]="'number'" *ngIf="!product.IsTrackable" [(twBinding)]="product.Quantity"
                                                                (blur)="OnChangeText(product)" [isDisabled]="product.IsQtyDisable"
                                                                [classGroup]="'form-control form-control-white form-control-sm w-80px ps-3'"
                                                            >
                                                            </app-custom-input>
                                                            <label *ngIf="product.IsTrackable">{{product.TrackableCodes.length}}</label>
                                                        </td>
                                                        <td>
                                                            <app-custom-input pInputText [type]="'number'" [(twBinding)]="product.Price" 
                                                                (blur)="OnChangeText(product)" (change)="changePrice(product)"
                                                                [classGroup]="'form-control form-control-white form-control-sm w-80px ps-3'">
                                                            </app-custom-input>
                                                        </td>
                                                        <td>
                                                            <app-custom-input pInputText [type]="'number'" [(twBinding)]="product.SalePrice" 
                                                                (blur)="OnChangeText(product)"
                                                                [classGroup]="'form-control form-control-white form-control-sm w-80px ps-3'">
                                                            </app-custom-input>
                                                        </td>
                                                        <td>
                                                            <app-custom-input pInputText [type]="'number'" [isDisabled]="!product.disabledShopSalePrice"  [(twBinding)]="product.ShopSalePrice" 
                                                                (blur)="OnChangeText(product)"
                                                                [classGroup]="'form-control form-control-white form-control-sm w-80px ps-3'">
                                                            </app-custom-input>
                                                        </td>
                                                        <td>
                                                            <app-custom-input pInputText [type]="'number'" [(twBinding)]="product.DiscPer" 
                                                                (blur)="OnChangeText(product)" [classGroup]="'form-control form-control-white form-control-sm w-80px ps-3'"
                                                            >
                                                            </app-custom-input>
                                                        </td>
                                                        <td>
                                                            <app-custom-input pInputText [type]="'text'" [(twBinding)]="product.DiscVal" 
                                                                [isDisabled]="true" [classGroup]="'form-control form-control-white form-control-sm w-80px ps-3'"
                                                            >
                                                            </app-custom-input>
                                                        </td>
                                                        <td class="">
                                                            <app-custom-input pInputText [type]="'text'" [(twBinding)]="product.NetPrice" 
                                                                [isDisabled]="true"
                                                                [classGroup]="'form-control form-control-white form-control-sm w-80px ps-3'"
                                                                >
                                                            </app-custom-input>

                                                            <!-- <input class="form-control form-control-white form-control-sm w-80px ps-3" type="text" disabled
                                                                [(ngModel)]="product.NetPrice" /> -->
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                            <!-- end::Table body -->
                                        </table>
                                        <!-- end::Table -->
                                        </div>
                                        <!-- end::Table container -->
                                    </div>
                                    <!-- begin::Body -->
                                </div>
                                <!--begin::Selected products-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Separator-->
                            <div class="separator"></div>
                            <!--end::Separator-->
                            <app-genric-table (emitRowClick)="selectValue($event)" [menuItems]="[]" 
                                [data]="ProductData" [columnsData]="productsColumn" [initialColumns]="initialProductsColumns" 
                                [totalRecords]="ProductData.length" [enablePrint]="false" [loadingData]="isLoadingProducts">
                            </app-genric-table>
                            
                        </div>
                    </div>
                    <!--end::Card header-->
                </div>
                <!--end::Order details-->
            </div>
            <!--end::Main column-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Content container-->
<!--end::Content-->